@import '../variables';

.base-layout {
  display: flex;
  flex-direction: column;
  min-width: 540px;
  background: url('/poster.jpg') 50% 0% no-repeat;
  &__wrapper {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(0, 0, 0) 65%
    );
  }
  &__container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
  }
  &__header {
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: $border-radius-xxs;
    min-height: 120px;
    background-color: $color-primary;
  }
  &__carousel {
    opacity: 0.8;
    min-height: 20vh;
  }
  &__nav {
    background-color: $color-primary;
  }
  &__admin {
    background-color: plum;
  }
  &__content {
    position: relative;
    min-height: calc(60vh - 190px);
    background-color: rgba(224, 224, 224, 0.877);
  }
  &__footer {
    margin-top: auto;
    background-color: $color-primary;
  }

  &__error {
    border-radius: $border-radius-s;
  }
}
