@import '../variables';

.footer {
  &__text {
    font-size: $font-size-x-small;
    text-align: center;
    margin: $spacing-s;
   
  }
  &__names {
    font-weight: bold;
    font-size: $font-size-xx-small;
  }
}
