.logo {
  &__name {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 1rem;
    left: 0.5rem;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.some__logo {
  opacity: 0.9;
}

.header {
  &__dropdown {
    & .nav-link {
      color: red;
      &:hover {
        color: green;
      }
    }
  }
}
