@import '../variables';

.header {
  &__dropdown {
    & .nav-link {
      margin-left: $spacing-l;
      color: $color-white;
      &:hover {
        color: $color-secondary;
      }
    }
  }
}

.logo {
  &__name {
    position: relative;
    font-size: $font-size-medium;
    font-weight: bold;
    bottom: $spacing-m;
    left: $spacing-xs;
    text-decoration: none;
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
}
.some__logo {
  opacity: 0.9;
}
.contact__text {
  font-size: $font-size-x-small;
  &.navbar-text {
    color: $color-white;
  }
}
