@import 'styles/variables';
@import 'styles/mixins';

.movie {
  &__image {
    position: relative;
    display: flex;
    margin-top: $margin3;
  }
  &__title {
    margin-bottom: $margin3;
    font-weight: bold;
    text-align: center;
  }
  &__info {
    margin-bottom: $margin3;
  }
  &__schedule {
    margin-top: $margin3;
    margin-bottom: $margin3;
  }
}

.testing__name {
  background-color: red;
}