@import '../variables';

.nav {
  &-item {
    margin-right: $spacing-s;
  }
  &__link {
    font-size: $font-size-small;
    color: $color-white;
    &:hover,
    &.active {
      color: $color-green;
    }
  }
}
