@import 'styles/variables';

.schedule-movie {
  &__row {
    justify-content: center;
  }
  &__image {
    margin-top: $spacing-l;
  }
  &__title {
    margin-top: $spacing-l;
    font-size: $font-size-large;
  }
  &__info {
    margin-bottom: $spacing-l;
  }
  &__trailer {
    width: 30rem;
    height: 15rem;
  }
  &__screen {
    &-time,
    &-rating {
      font-size: $font-size-medium;
      &--hour,
      &--amount {
        font-size: $font-size-x-large;
      }
    }
  }
  &__schedule {
    margin-top: $spacing-l;
    margin-bottom: $spacing-xl;
    &-picker {
      & .nav-item .nav-link {
        font-size: $font-size-x-small;
      }
    }
  }
}
