@import '../variables';

.seats {
  &__container {
    display: flex;
    width: 325px;
    flex-wrap: wrap;
    & > * {
      cursor: pointer;
      padding: 12px;
      text-align: center;
      width: 50px;
      height: 50px;
      margin: 0 $spacing-s $spacing-s 0;
      border-radius: $border-radius-s;
      background-color: $color-green;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      &:hover:not(.booked) {
        border-radius: $border-radius-l;
        background-color: $color-secondary;
      }
    }
  }
}
.selected {
  background-color: $color-secondary;
  border-radius: $border-radius-l;
}
.booked {
  cursor: default;
  background-color: $dark-overlay-64dp;
  color: white;
}
