@import './components/_base-layout';
@import './components/_schedules';
@import './components/_time-slots';
@import './components/_schedule-movie';
@import './components/_header';
@import './components/_navbar';
@import './components/_footer';
@import './components/_seats';
@import './components/_error';
@import './overrides.scss';

html,
body {
  height: 100%;
}
body {
  background-color: #000000;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.inherit {
  display: inherit;
}
.link {
  a {
    color: $color-white;
  }
}
.content--center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.custom__button {
  width: 150px;
  background-color: $color-main;
  border-color: $color-main;
  &:hover {
    background-color: $color-main-light;
    border-color: $color-main-light;
  }
}
