$color-main: #1675f6;
$color-text: #333333;
$color-secondary: #ffd600;
$color-green: #33691E;
$color-text-hover: #555555;
$white-overlay-02dp: rgba(255, 255, 255, 0.07);
$white-overlay-03dp: rgba(255, 255, 255, 0.08);
$white-overlay-08dp: rgba(255, 255, 255, 0.12);
$white-overlay-16dp: rgba(255, 255, 255, 0.15);
$white-overlay-64dp: rgba(255, 255, 255, 0.19);

$margin1: 1rem;
$margin3: 3rem;
$margin5: 5rem;

$dark-overlay-02dp: rgba(0, 0, 0, 0.07);
$dark-overlay-03dp: rgba(0, 0, 0, 0.08);
$dark-overlay-08dp: rgba(0, 0, 0, 0.12);
$dark-overlay-16dp: rgba(0, 0, 0, 0.15);
$dark-overlay-64dp: rgba(0, 0, 0, 0.19);

$font-size-xxx-small: 0.6rem;
$font-size-xx-small: 0.8rem;
$font-size-x-small: 1rem;
$font-size-small: 1.3rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;


$spacing-xxs: 0.2rem;
$spacing-xs: 0.4rem;
$spacing-s: 0.6rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2.5rem;

$border-radius-xxs: 0.2rem;
$border-radius-xs: 0.4rem;
$border-radius-s: 0.6rem;
$border-radius-m: 1rem;
$border-radius-l: 1.5rem;