$color-main: #1675f6;

$white-overlay-02dp: rgba(255, 255, 255, 0.07);
$white-overlay-03dp: rgba(255, 255, 255, 0.08);
$white-overlay-08dp: rgba(255, 255, 255, 0.12);
$white-overlay-16dp: rgba(255, 255, 255, 0.15);
$white-overlay-64dp: rgba(255, 255, 255, 0.19);

$font-size-xxx-small: 0.6rem;
$font-size-xx-small: 0.8rem;
$font-size-x-small: 1rem;
$font-size-small: 1.3rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
